@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto+Slab:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

.m-20{
    margin: 20px;
}
.mb-20{
    margin-bottom: 20px;
}

.card{
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    /* overflow: hidden; */
}
.card-body{
    padding: 20px;

}
.card-icon{
    margin-bottom: 20px;
    transition: 0.5s;
}
.card:hover .card-icon{
    color: red;
    transform: scale(1.1);
}
.card-img{
    width: 100%;
    display: block;
}
.card-img-top{
    border-radius: 15px 15px 0 0;
}
.card-img-bottom{
    border-radius: 0 0 15px 15px;
}
.card-title{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.card-text{
    font-family: 'Roboto Slab', serif;
    line-height: 25px;
    
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.card-btn{
    background-color: #000;
    border: 1px solid black;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;

}
.card-btn-link{
    background-color: transparent;
    border: 1px solid transparent;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
}
.half-outer{
    margin: auto;
    margin-bottom: -25px;
    display: block;
    width: 130px;
    text-align: center;
}
.half-upper{
    float: right;
    margin-top: -25px;
    position: relative;
    margin-right: 20px;
}